.transformation-stages__image {
    width: 395px;
    height: 232px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (width < 1366px) {
    .transformation-stages__image {
        left: 470px;
        bottom: 0;
    }
}

@media (width < 900px) {
    .transformation-stages__image {
        top: 25px;
        left: 327px;
    }
}

@media (width < 550px) {
    .transformation-stages__image {
        top: 137px;
        left: 36px;
        rotate: -3deg;
        width: 334px;
        height: 202px;
    }
}

@media (width < 488px) {
    .transformation-stages__image {
        top: 195px;
        left: 36px;
    }
}