@import url(../participants/__buttons/participants__buttons.css);
@import url(../participants/__container/participants__container.css);
@import url(../participants/__counter/participants__counter.css);
@import url(../participants/__description/participants__description.css);
@import url(../participants/__flex/participants__flex.css);
@import url(../participants/__image/participants__image.css);
@import url(../participants/__item/participants__item.css);
@import url(../participants/__name/participants__name.css);
@import url(../participants/__span/participants__span.css);
@import url(../participants/__title/participants__title.css);
@import url(../participants/__buttons-mobile/participants__buttons-mobile.css);

.participants {
    margin-block-end: 134px;
    padding-right: 72px;
    padding-left: 72px;
    max-width: 1366px;
}

.none {
    display: none;
}

@media (width >= 1920px) {
    .participants{
        padding-left: 349px;
        max-width: 1800px;
    }
}

@media (width < 1024px) {
    .participants{
        display: flex;
        flex-direction: column;
    }
}

@media (width < 1366px) {
    .participants{
        max-width: 990px;
    }
}

@media (width < 768px) {
    .participants{
        padding-left: 24px;
    }
}

@media (width < 550px) {
    .participants{
        margin-block-end: 81px;
    }
}

.carousel__button--disabled:disabled {
    background-color: rgba(49, 49, 49, 0.2);
    cursor: default;
}