@import url(../../seminar-preview/__text/_span/seminar-preview__text_span.css);

.seminar-preview__text {
    display: none;
    color: #313131;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Merriweather, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 48.6px */
    text-transform: uppercase;
    align-self: center;
}

@media (max-width: 768px) {
    .seminar-preview__text {
        display: block;
        font-size: 28px;
        order: 3;
    }
}