.participants__flex {
    display: flex;
    padding-left: 37px;
    gap: 95px;
    overflow: hidden;
}

@media (width < 1336px) {
    .participants__flex{
        gap: 161px;
    }
}

@media (width < 1024px) {
    .participants__flex{
        justify-content: left;
        width: 320px;
        overflow: hidden;
        padding-left: 0;
        gap: 30px;
        align-self: center;
    }
}

@media (width < 376px) {
    .participants__flex{
        align-self: auto;
    }
}