.participants__flex {
    display: flex;
    /*padding-left: 72px;*/
    /*padding-right: 72px;*/
    justify-content: space-around;
    gap: 20px;
}

@media (width < 550px) {
    .participants__flex{
        justify-content: left;
        width: 320px;
        overflow: hidden;
    }
}