@import url(../running-line/__circle/running-line__circle.css);
@import url(../running-line/__text/running-line__text.css);

.running-line {
    background-color: #F54932;
    padding: 18px 12px;
    overflow: hidden;
}