.carousel-container__indicators_item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-right: 6px;
}

.carousel-container__indicators_item:last-of-type {
    margin-right: 0;
}

.carousel-container__indicators_item.active {
    background-color: #313131;
}