@import url(../header/__logo/header__logo.css);
@import url(../header/__title/header__title.css);
@import url(../header/__text/header__text.css);
@import url(../header/__paragraph/header__paragraph.css);
@import url(../header/__span/header__span.css);
@import url(../header/__buttons/header__buttons.css);

.header {
    padding-block-start: 26px;
    min-height: 700px;
    padding-left: 72px;
    background: url("../../images/background.png") no-repeat center;
    background-size: cover;
    filter: sepia(30%);
    position: relative;
    overflow: hidden;
}

@media (width >= 1920px) {
    .header{
        padding-left: 349px;
    }
}
@media (width < 768px) {
    .header{
        padding-left: 19px;
        padding-block-start: 16px;
    }
}

@media (width < 376px) {
    .header{
        height: 812px;
        background-image: url("../../images/bgm.png");
    }
}