@import url(../transformation-stages/__title/transformation-stages__title.css);
@import url(../transformation-stages/__span/transformation-stages__span.css);
@import url(../transformation-stages/__container/transformation-stages__container.css);
@import url(../transformation-stages/__image/transformation-stages__image.css);

.transformation-stages {
    margin-block-start: 188px;
    padding-left: 72px;
    margin-block-end: 200px;
}

@media (width >= 1920px) {
    .transformation-stages{
        padding-left: 349px;
    }
}

@media (width < 768px) {
    .transformation-stages{
        padding-left: 19px;
        margin-block-start: 118px;
        margin-block-end: 126px;
    }
}
@media (width < 500px) {
    .transformation-stages {
        position: relative;
    }
}