.header__text {
    max-width: 542px;
    margin-block-start: 62px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

@media (width < 376px) {
    .header__text{
        margin-block-start: 35px;
    }
}