.header__buttons_donate {
    width: 263px;
    height: 72px;
    background-color: #1F1F1F;
    border: none;
    border-radius: 66px;
    transition: background-color 0.3s;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .header__buttons_donate:hover {
        color: #1F1F1F;
        background-color: #FBCE51;
    }
}

@media (hover: none) {
    .header__buttons_donate:active {
        color: #1F1F1F;
        background-color: #FBCE51;
    }
}

@media (width < 376px) {
    .header__buttons_donate{
        width: 335px;
        height: 45px;
    }
}