@import url(../carousel-container/__buttons/carousel__buttons.css);
@import url(../carousel-container/__item/carousel-container__item.css);
@import url(../carousel-container/__card/carousel-container__card.css);
@import url(../carousel-container/__indicators/carousel-container__indicators.css);
@import url(../carousel-container/__slide/carousel-container__slide.css);

.carousel-container {
    width: 335px;
    height: 300px;
    background: url("../../images/mobileCard.png ") center no-repeat;
    background-size: cover;
    margin-block-end: 20px;
    overflow: hidden;
    display: none;

}

@media (width < 550px) {
    .carousel-container {
        display: flex;
    }
}