@import url(../footer/__paragraph/footer__paragraph.css);

.footer {
    padding: 40px 72px 72px;
    background-color: #E9DED4;
}

@media (width < 768px) {
    .footer{
        padding-left: 24px;
    }
}

@media (width >= 1920px) {
    .footer{
        padding-left: 150px;
    }
}

@media (width < 550px) {
    .footer{
        padding-bottom: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
}