.participants__container {
    display: flex;
    justify-content: space-between;
    /*padding-left: 72px;*/
    /*padding-right: 72px;*/
    margin-block-end: 60px;
}
@media (width < 550px) {
    .participants__container{
        margin-block-end: 37px;
    }
}