:root.theme-light {
    --logo-color: #595653;
}

@media (prefers-color-scheme: light) {
    :root {
        --logo-color: #595653;
    }
}

:root.theme-dark {
    --logo-color: #FFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --logo-color: #FFF;
    }
}