@import url(../grid-container/__block/grid-container__block.css);
@import url(../grid-container/__item/grid-container__item.css);
@import url(../grid-container/__numbers/grid-container__numbers.css);
@import url(../grid-container/__paragraph/grid-container__paragraph.css);

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: 112px 112px 136px;
    gap: 20px;
    overflow: hidden;
    position: relative;
    max-width: 1284px;
}

@media (width < 1366px) {
    .grid-container {
        grid-template-columns: repeat(2, 394px);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (width < 900px) {
    .grid-container {
        grid-template-columns: 500px;
        grid-template-rows: repeat(7, 1fr);
        justify-content: center;
    }
}